<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="//use.typekit.net/cwi6ela.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script type="text/javascript">
        <% if(page == 'home' || page == 'grid' || page == 'vis'){ %> var resources = <%- JSON.stringify(data) %>; <% } %>
        <% if(page == 'resource' ){ %> var updateURL = "<%- updateURL %>"; <% } %>
    </script>
	
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> <!-- icons, yo -->
    <link rel="stylesheet" type="text/css" href="/css/modal.css" /><!-- the main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css" /><!-- the main stylesheet -->
	<title>API Atlas<% if(name){  %> | <%= name %><%}%></title>
</head>
    
    <%  //logged in
    var authorized = false;
    if(typeof(user) == 'object' && user != null){ 
		authorized = true;
	}
    %>
    
<body class="<%= page %> auth_<%= authorized %>" id="<%= page %>" data-auth="<%= authorized %>" <%
		
		if(authorized){ %>data-authID="<%= user.id %>" <%}%>>
    
    
    <% if(page != 'home'){ %> 
	<div id="header" class="pure-g">
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-u-1 pure-hidden-phone">
        <a href="/" class="pure-menu-heading"><img src="/images/logo.png" alt="API Atlas"/></a>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">Why?</a></li>
			<li><a href="#">Github Page</a></li>
        	<li><a href="#login-confirm" class="call-modal pure-button pure-button-primary"><%  if(authorized){  %>Logout<% }else{%>Login<%}%></a></li>
		</ul>
    </div>
	
	<div class="pure-u-2-3 pure-hidden-desktop pure-hidden-tablet">
        <a href="/" class="pure-menu-heading"><img src="/images/logo_mobile.png" alt="API Atlas"/></a>
    </div>
	<div class="pure-u-1-3 pure-hidden-desktop pure-hidden-tablet">
		<a href="#mobile_menu" class="call-modal pure-button pure-button-menu"><i class="fa fa-bars fa-lg"></i></a>
	</div>
	</div>
	<% } else { %>
	<div id="atlas-intro" class="pure-g">
		<div class="pure-u-2-3"></div>
		<div class="pure-u-1-3">
			<a href="#mobile_menu" class="call-modal pure-button pure-button-menu"><i class="fa fa-bars fa-lg"></i></a>
		</div>
		
		<div class="atlas-intro pure-u-1 pure-hidden-phone">
		<a href="#<% if(authorized){  %>title_Verbs<% }else{%>login-confirm<%}%>" class="call-modal pure-button pure-button-primary"><h1><%  if(authorized){  %>Explore Below<% }else{%>Be Heard!<%}%></h1></a>
		<h2>Tells us what parts of HTTP you use in your APIs, or just explore this site to learn about the components of HTTP.</h2>
	
    </div>
	<div class="atlas-intro pure-u-1 pure-hidden-desktop pure-hidden-tablet">
		<a href="#<% if(authorized){  %>title_Verbs<% }else{%>login-confirm<%}%>" class="call-modal pure-button pure-button-primary"><h1><%  if(authorized){  %>Explore Below<% }else{%>Be Heard!<%}%></h1></a>
		<h2>Tells us what parts of HTTP you use in your APIs, or just explore this site to learn about the components of HTTP.</h2>
	
    </div>
	</div>
	<% } %>
	
	