<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="//use.typekit.net/cwi6ela.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script type="text/javascript">
        <% if(page == 'home' || page == 'grid' || page == 'vis'){ %> var resources = <%- JSON.stringify(data) %>; <% } %>
        <% if(page == 'resource' ){ %> var updateURL = "<%- updateURL %>"; <% } %>
    </script>
	
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> <!-- icons, yo -->
    <link rel="stylesheet" type="text/css" href="/css/modal.css" /><!-- the main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css" /><!-- the main stylesheet -->
	<title>API Atlas<% if(name){  %> | <%= name %><%}%></title>
</head>
    
    <%  //logged in
    var authorized = false;
    if(typeof(user) == 'object' && user != null){ 
		authorized = true;
	}
    %>
    
<body class="<%= page %> auth_<%= authorized %>" id="<%= page %>" data-auth="<%= authorized %>" <%
		
		if(authorized){ %>data-authID="<%= user.id %>" <%}%>>
    
    
    <% if(page != 'home'){ %> 

    <div id="header" class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="/" class="pure-menu-heading"><img src="/images/logo.png" alt="API Atlas"/></a>
		<ul>
        	<li><a href="#login-confirm" class="call-modal pure-button pure-button-primary"><%  if(authorized){  %>Logout<% }else{%>Login<%}%></a></li>
		</ul>
    </div>
	
	<% } else { %>
	<div id="atlas-intro" class="pure-g">
		
		<div class="atlas-intro pure-u-1 pure-hidden-phone">
		<a href="#<% if(authorized){  %>title_Verbs<% }else{%>login-confirm<%}%>" class="call-modal pure-button pure-button-primary"><h1><%  if(authorized){  %>Explore Below<% }else{%>Be Heard!<%}%></h1></a>
		<h2>Tells us what parts of HTTP you use in your APIs, or just explore this site to learn about the components of HTTP.</h2>
	
    </div>
	<div class="atlas-intro pure-u-1 pure-hidden-desktop pure-hidden-tablet">
		<a href="#<% if(authorized){  %>title_Verbs<% }else{%>login-confirm<%}%>" class="call-modal pure-button pure-button-primary"><h1><%  if(authorized){  %>Explore Below<% }else{%>Be Heard!<%}%></h1></a>
		<h2>Tells us what parts of HTTP you use in your APIs, or just explore this site to learn about the components of HTTP.</h2>
	
    </div>
	</div>
	<% } %>
	
	<!-- A modal with its content -->
		<section class="semantic-content" id="login-confirm"
				tabindex="-1" role="dialog" aria-labelledby="login-confirm" aria-hidden="true">

			<div class="modal-inner">
				<header>
					<h2 id="modal-label"><i class="fa fa-github"></i> Github Login</h2>
				</header>

				<div class="modal-content pure-g-r">
					<%  if(typeof(user) == 'object' && user != null){  %>
        				<p  class="pure-u-1">Currently logged into github as <%= user.displayName %></p>
						<a href="/logout?last=<%= name %>" class="pure-button pure-button-error pure-u-1-3">Log out from github</a> 
    				<% } else { %>
						<h2 class="pure-u-1">Let your voice be heard!</h2>
					<a href="/auth/github?last=<%= name %>" class="login-with-github pure-button pure-button-primary pure-u-1-2"><i class="fa fa-github"></i> Login with github </a>
						<a href="/#!" class="nevermind pure-u-1-3">Nevermind</a>	
					<p class="pure-u-1">Use your github account to vote on API Atlas. You'll be taken to the github website to authenticate (or confirm if you're already logged in).</p>
						
    				<% } %>
						
				</div>

				<footer>
					<p class="fineprint">We only save your name and github ID so we can keep track of your responses on API Atlas. We won't keep or sell any type of sensetive information or spam you in any way.</p>
				</footer>
			</div>

			<!-- Use Hash-Bang to maintain scroll position when closing modal -->
			<a href="#!" class="modal-close" title="Close"
					data-dismiss="modal">&times;</a>
		</section>