<html>
<head>
    
    <script type="text/javascript" src="//use.typekit.net/cwi6ela.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script type="text/javascript">
        <% if(page == 'home' || page == 'grid'){ %> var resources = <%- data %>; <% } %>
        <% if(page == 'resource' ){ %> var updateURL = "<%- updateURL %>"; <% } %>
    </script>
    <!--
    <link rel="stylesheet" type="text/css" href="/css/reset.css" /> <!-- normalize browser styles -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" /><!-- the main stylesheet -->

</head>
    
    <%  //logged in
    var authorized = false;
    if(typeof(user) == 'object' && user != null){ authorized = true;}
    %>
    
<body class="<%= page %>" id="<%= page %>" data-auth="<%= authorized %>">
    <p class="menu">
    <% if(page != 'home'){ %> <a href="/">Home</a> <% } %>
        
        <% if(authorized){ %><a href="/logout?last=<%= name %>">Logout</a> 
    <% } else { %><a href="/auth/github?last=<%= name %>">Login with github</a>
    <% } %>
    </p>
    
    