<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="//use.typekit.net/cwi6ela.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script type="text/javascript">
        <% if(page == 'home' || page == 'grid' || page == 'vis'){ %> 
			var resources = <%- JSON.stringify(data) %>; 
			var user_votes = <% if(votes !== null){ %><%- JSON.stringify(votes) %><% } else { %>{}<% } %>; 
			
		<% } %>
        <% if(page == 'resource' ){ %> var updateURL = "<%- updateURL %>"; <% } %>
    </script>
	
    <link href="/css/pure-min.css" rel="stylesheet"> <!-- purecss.io framework by yui -->

    <link href="/css/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet"> <!-- icons, yo -->
	<link rel="stylesheet" type="text/css" href="/css/modal.css" /><!-- the main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css" /><!-- the main stylesheet -->
	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>API Atlas<% if(name){  %> | <%= name %><%}%></title>
</head>
    
    <%  //logged in
    var authorized = false;
    if(typeof(user) == 'object' && user != null){ 
		authorized = true;
	}
    %>
    
<body class="<%= page %> auth_<%= authorized %>" id="<%= page %>" data-auth="<%= authorized %>" <%
		
		if(authorized){ %>data-authID="<%= user.id %>" <%}%>>
    
    
    <% if(page != 'home'){ %> 
	
	<div id="header">
	<div class="content pure-g">
	<div class="pure-u-2-3">
        <a href="/" class="pure-menu-heading"><img src="/images/logo_mobile.png" alt="API Atlas"/></a>
    </div>
	<div class="pure-u-1-3">
		<a href="#mobile_menu" class="call-modal pure-button pure-button-menu"><i class="fa fa-bars fa-lg"></i></a>
	</div>
		</div>
	</div>
	<% } else { %>
	<div id="atlas-intro" class="pure-g">
		<div class="pure-u-2-3"></div>
		<div class="pure-u-1-3">
			<a href="#mobile_menu" class="call-modal pure-button pure-button-menu"><i class="fa fa-bars fa-lg"></i></a>
		</div>
		
		<div class="atlas-intro pure-u-1 pure-hidden-phone">
		<a href="#<% if(authorized){  %>title_Verbs<% }else{%>login-confirm<%}%>" class="call-modal pure-button pure-button-primary"><h1><%  if(authorized){  %>Share & Explore<% }else{%>Take Survey<%}%></h1></a>
		<h2>Share how you use HTTP for API design. Explore results from other designers.</h2>
	
    </div>
	<div class="atlas-intro pure-u-1 pure-hidden-desktop pure-hidden-tablet">
		<a href="#<% if(authorized){  %>title_Verbs<% }else{%>login-confirm<%}%>" class="call-modal pure-button pure-button-primary"><h1><%  if(authorized){  %>Share & Explore<% }else{%>Take Survey<%}%></h1></a>
		<h2>Share how you use HTTP for API design. Explore results from other designers.</h2>
	
    </div>
	</div>
	<% } %>
	
	