<% include header %>
<div class="resource pure-g-r color_<%- r.color %>" data-color="<%- r.color %>" data-priority="<%- r.priority %>">

	<div  class="title pure-u-1"><h1><%= r.name %><% if(r.type == "code"){%> - <%= r.description %><% } %></h1></div>
    <div class="votes pure-u-1" data-color="<%- r.color %>">
        <div class="<%- r.color %>bar_<%- r.votes.percent %>"><%= r.votes.total %> votes. <%= r.votes.percent_display %> usage.</div>
    </div>
    <% v = (r.your_vote == undefined ? "null" : r.your_vote); %>
    <div class="controls vote_<%= v %> pure-u-1">
		<div class="pure-g-r">
			<p class="question ask pure-u-1">Do you use this in your apis?</p>
        
            
            <p class="question yes pure-u-1">You use this in your apis.</p>
            <p class="question no pure-u-1">You don't use this in your apis.</p>
            
            <a href="?vote=up" title="Yes" class="vote_up vote pure-button pure-button-success pure-u-1-4">
				<i class="fa fa-check-circle"> Yes! I use this</i>
			</a> 
            <a href="?vote=up" title="Yes" class="vote_up vote pure-button inactive pure-u-1-4">
				<i class="fa fa-check-circle-o"> Yes! I use this</i>
			</a> 
            
            <a href="?vote=down" title="No" class="vote_down vote pure-button pure-button-error pure-u-1-4">
				<i class="fa fa-times-circle"> No, I don't use this</i>
			</a>
            <a href="?vote=down" title="No" class="vote_down vote pure-button inactive pure-u-1-4">
				<i class="fa fa-times-circle-o"> No, I don't use this</i>
			</a>
         </div>   
            <a href="?vote=remove" title="Remove my vote." class="vote_remove vote pure-button pure-button-primary">
				<i class="fa fa-trash-o"> Remove Vote</i>
			</a>
            <a href="?vote=remove" title="Remove my vote." class="vote_remove vote pure-button pure-button-inactive">
				<i class="fa fa-trash-o"> Remove Vote</i>
			</a>
        
		
    </div>
    
	    
    
    <% if(r.type != "code"){%>
    <div class="pure-u-1-2 description">
        <h3>Description</h3>
        <p><%= r.description %></p>
    </div>
	<% } %>
	<% if(r.type == "code" || r.type == "header"){%>
    <div class="pure-u-1-2 example">
        <h3><% if(r.type == "code"){%>Description<%}else{%>Example<%}%></h3>
        <p><%= r.example %></p>
    </div>
    <% } %>
	<div class="scrub pure-u-1">
		<h3>Explore</h3>
		<% if(r.prev != undefined){%> 
		<a href="/<%= r.prev.url %>" class="scrub_prev pure-button"><i class="fa fa-arrow-left"></i> &nbsp;&nbsp;<%= r.prev.resource %></a>
		<%}%>
		<% if(r.next != undefined){%> 
		<a href="/<%= r.next.url %>" class="scrub_next pure-button "><%= r.next.resource %> &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
		<%}%>
				
	</div>
    
    <div class="pure-u-1" id="comments">
    
          <div id="disqus_thread"></div>
    
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
    </div>
    
</div>
<% include footer %>