<% include header %>
<div class="resource pure-g-r">

	<div  class="title pure-u-1"><h1><%= r.name %></h1></div>
    <div class="votes pure-u-1"><%= r.votes.up %>/<%= r.votes.total %></div>
    
    <div class="controls vote_<%= r.your_vote %> pure-u-3-4">
        <%  //logged in
        if(typeof(user) == 'object' && user != null){ %>
            <a href="?vote=up" title="You use this in your apis!" class="vote_up"> 
                <i class="fa fa-thumbs-up"></i>
                <i class="fa fa-thumbs-o-up"></i>
            </a> 
            <a href="?vote=down" title="You DON'T use this in your apis :(" class="vote_down"> 
                <i class="fa fa-thumbs-down"></i>
                <i class="fa fa-thumbs-o-down"></i>
            </a>
            <a href="?vote=remove" title="Remove my vote." class="vote_remove"><i class="fa fa-trash-o"></i></a>
            
        <% } else { /*not logged in*/  %>
            <a href="/auth/github?last=<%= name %>">Login</a> to vote.<br/>
        <% } %>
    </div>
    <div class="pure-u-1-8"><p>previous</p></div>
    <div class="pure-u-1-8"><p>next</p></div>

    
    <div class="pure-u-1-2"><p><%= r.description %></p></div>
    <div class="pure-u-1-2"><p><%= r.example %></p></div>
    
    
    <div class="pure-u-1">Comments</div>
    
</div>
<% include footer %>