<% include header %>

	
	
<div class="resource_show resource_<%- r.name %> <%- r.type %> pure-g-r" id="<%- r.type + name.toLowerCase() %>" data-color="<%- r.color %>" data-percent="<%- r.votes.percent %>">
    <div class="content pure-u-1">
        <h1 class="name"><%= r.name %><% if(r.type == "code"){%> - <%= r.description %><% } %></h1>
		<div class="vote_meta">
			<% 
			var $v_count = r.votes.total + " Responses";
			if(r.votes.total == 1){$v_count = r.votes.total + " Response";}
		%>
		
			<span class="votes"><%- $v_count %></span>	
		</div>
        <div class="bar percent percent_<%- r.votes.percent %> <%- r.color %>bar_<%- r.votes.percent %>"><div class="tip"><%- r.votes.percent_display %> use it</div></div>
		
		<% v = (r.your_vote == undefined ? "null" : r.your_vote); %>
		<div class="voting_controls vote_<%= v %>">
			<a href="?vote=up" class="pure-button vote vote_up" title="I use <%- r.name %> in my APIs" data-parent_resource="resource_<%- r.name %>" data-vtype="vote_yes"><i class="fa fa-check fa-lg"></i> I use it!</a>
			
			<a href="?vote=down" class="pure-button vote vote_down" title="Not using <%- r.name %>" data-parent_resource="resource_<%- r.name %>" data-vtype="vote_no"><i class="fa fa-times fa-lg"></i> I don't.</a>&nbsp;
			<div class="scrub">
				<% if(r.prev != undefined){%> 
				<a href="/<%= r.prev.url %>" class="scrub_prev" title="<%= r.prev.url %>"><i class="fa fa-angle-double-left fa-lg"></i> &nbsp;&nbsp;previous</a>
				<%}%>
				<% if(r.next != undefined){%> 
				<a href="/<%= r.next.url %>" class="scrub_next" title="<%= r.next.url %>">next &nbsp;&nbsp;<i class="fa fa-angle-double-right fa-lg"></i></a>
				<%}%>
						
			</div>
		</div>
				
        </div>

    	   
    
    <% if(r.type != "code"){%>
    <div class="pure-u-1 description">
        <h3>Description</h3>
        <p><%= r.description %></p>
    </div>
	<% } %>
	<% if(r.type == "code" || r.type == "header"){%>
    <div class="pure-u-1 example">
        <h3><% if(r.type == "code"){%>Description<%}else{%>Example<%}%></h3>
        <p><%= r.example %></p>
    </div>
    <% } %>
	<div class="pure-u-1"><br/><a href="#voting_help" class="voting_help call-modal">Help</a></div>
    
    <div class="pure-u-1" id="comments">
    
          <div id="disqus_thread"></div>
    
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
    </div>
    
</div>
	
	
<!-- A modal with its content -->
		<section class="semantic-content" id="voting_help"
				tabindex="-2" role="dialog" aria-labelledby="modal_huh" aria-hidden="true">

			<div class="modal-inner">
				<header>
					<h2 id="modal-huh">Survey Help</h2>
				</header>

				<div class="modal-content pure-g-r">
					<h2 class="pure-u-1">What does it mean to 'use' part of a spec?</h2>	
					<p class="pure-u-1">API Atlas is interested in the design aspects of APIs. "Do you use this?" asks if you adopt this component in your own API designs.</p>
					<p class="pure-u-1">Please share thoughts beyond a simple yes or no in the comments section of each HTTP component.</p>							
				</div>

				<footer>
					<a href="#!" class="close-action pure-button pure-button-success" title="Close this modal" data-dismiss="modal">Ok, got it</a>
				</footer>
			</div>

			<!-- Use Hash-Bang to maintain scroll position when closing modal -->
			<a href="#!" class="modal-close" title="Close"
					data-dismiss="modal">&times;</a>
		</section>
<% include footer %>