<% include header %>
<div class="resource pure-g-r color_<%- r.color %> resource_<%= r.type %>" data-color="<%- r.color %>" data-priority="<%- r.priority %>">

	<div  class="title pure-u-1"><h1><%= r.name %><% if(r.type == "code"){%> - <%= r.description %><% } %></h1></div>
    <div class="votes pure-u-1" data-color="<%- r.color %>">
        <div class="<%- r.color %>bar_<%- r.votes.percent %>"><%= r.votes.percent_display %></div>
    </div>
	<div class="pure-u-1 vote_count"><%= r.votes.total %> people voted. </div>
    <% v = (r.your_vote == undefined ? "null" : r.your_vote); %>
    <div class="controls vote_<%= v %> pure-u-1">
		
			<div class="pure-menu pure-menu-open">
				<span class="pure-menu-heading">Do you use this in your APIs?</span>
			
				<ul>
					<li class="vote_yes pure-g">
						<div class="pure-u-7-8">
						<a href="?vote=up" class=" vote_up"><i class="fa fa-check"></i> Yes I do!</a> </div>
						<div class="pure-u-1-8"><a href="?vote=remove" class="vote_remove"><i class="fa fa-ban"></i></a></div>
					</li>	
					<div class="clarify_group">
						<li class="pure-menu-separator"></li>
						<li class="clarify"><a href="?vote=request" class="clarify_request"><i class="fa fa-check-square"></i><i class="fa fa-check-square-o"></i> In Requests &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a></li>
						<li class="clarify"><a href="?vote=response" class="clarify_response"><i class="fa fa-check-square"></i><i class="fa fa-check-square-o"></i> In Responses &nbsp;<i class="fa fa-arrow-left"></i></a></li>
						<li class="pure-menu-separator"></li>
					</div>
					<li class="vote_no pure-g">
						<div class="pure-u-7-8">
						<a href="?vote=down" class="vote_down"><i class="fa fa-times"></i> Nope</a> </div>
						<div class="pure-u-1-8"><a href="?vote=remove" class="vote_remove"><i class="fa fa-ban"></i></a></div>
					</li>
				
		</div>   
        		
    </div>
    <a href="#voting_help" class="voting_help call-modal pure-u-1">Huh?</a>	   
    
    <% if(r.type != "code"){%>
    <div class="pure-u-1-2 description">
        <h3>Description</h3>
        <p><%= r.description %></p>
    </div>
	<% } %>
	<% if(r.type == "code" || r.type == "header"){%>
    <div class="pure-u-1-2 example">
        <h3><% if(r.type == "code"){%>Description<%}else{%>Example<%}%></h3>
        <p><%= r.example %></p>
    </div>
    <% } %>
	<div class="scrub pure-u-1">
		<h3>Explore</h3>
		<% if(r.prev != undefined){%> 
		<a href="/<%= r.prev.url %>" class="scrub_prev pure-button"><i class="fa fa-arrow-left"></i> &nbsp;&nbsp;<%= r.prev.resource %></a>
		<%}%>
		<% if(r.next != undefined){%> 
		<a href="/<%= r.next.url %>" class="scrub_next pure-button "><%= r.next.resource %> &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
		<%}%>
				
	</div>
    
    <div class="pure-u-1" id="comments">
    
          <div id="disqus_thread"></div>
    
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
    </div>
    
</div>
	
	
<!-- A modal with its content -->
		<section class="semantic-content" id="voting_help"
				tabindex="-2" role="dialog" aria-labelledby="modal_huh" aria-hidden="true">

			<div class="modal-inner">
				<header>
					<h2 id="modal-huh">Voting</h2>
				</header>

				<div class="modal-content pure-g-r">
					<h2 class="pure-u-1">What does it mean to 'use' part of a spec?</h2>	
					<p class="pure-u-1">API Atlas is about surveying the community to see what is and isn't popular among api developers. "Do you use this?" asks if you adopt this component into your own designs when building APIs.</p>
					<p class="pure-u-1">If you have more to say than simply yes, no (or pleading the 5th), say it in the comments near the bottom of the page.</p>							
				</div>

				<footer>
					<a href="#!" class="close-action pure-button pure-button-success" title="Close this modal" data-dismiss="modal">Ok, got it</a>
				</footer>
			</div>

			<!-- Use Hash-Bang to maintain scroll position when closing modal -->
			<a href="#!" class="modal-close" title="Close"
					data-dismiss="modal">&times;</a>
		</section>
<% include footer %>