<div class="resource greenbar_<%- percent %> resource_<%- name %>">
    <h3 class="name"><%- name %><h3>
    <div class="stats">
        <span class="percent"><%- percent_display %></span> Usage. <span class="votes"><%- votes %></span> Votes.
    </stats>
</div>