<div class="resource resource_<%- name %> <%- type %> pure-u-1-3" data-link="<%- rel %>" id="<%- id + name.toLowerCase() %>" data-color="<%- color %>" data-percent="<%- percent %>">
    <div class="content">
		<% var tipclass = "left"; if(percent >50){tipclass="right";} %>
        <h3 class="name"><a href="<%- rel %>"><%- name %><% if(color == "yellow"){%> <span class="code_name"><%= desc %></span><%} %></a></h3>		
		
		<% 
			var $v_count = votes + " Responses";
			if(votes == 1){$v_count = votes + " Response";}
		%>
		<span class="votes"><%- $v_count %></span>

        <div class="bar percent percent_<%- percent %> <%- color %>bar_<%- percent %>">
			<div class="tip <%= tipclass %>"><%- percent_display %> use it</div>
		</div> 
		<div class="voting_controls <%= vote_class %>">
			<a href="<%- rel %>?vote=up" class="pure-button vote vote_up" title="I use <%- name %> in my APIs" data-parent_resource="resource_<%- name %>" data-vtype="vote_yes"><i class="fa fa-check fa-lg"></i> I use it!</a>
			<a href="<%- rel %>?vote=down" class="pure-button vote vote_down" title="Not using <%- name %>" data-parent_resource="resource_<%- name %>" data-vtype="vote_no"><i class="fa fa-times fa-lg"></i> I don't.</a>&nbsp;
			

		</div>
				
        </div>
    </div>
