<div class="resource resource_<%- name %> <%- type %> pure-u-1-5" data-link="<%- rel %>" id="<%- id + name.toLowerCase() %>" data-color="<%- color %>" data-percent="<%- percent %>">
    <div class="content <%- color %>bar_<%- percent %>">
        <h3 class="name"><a href="<%- rel %>"><%- name %><% if(color == "yellow"){%> - <%= desc %><%} %></a></h3>
        <div class="stats pure-g">
			<div class="pure-u-1 pure-hidden-phone">
				<a href="<%- rel %>?vote=up" class="grid_vote vote_up"><i class="fa fa-check"></i></a>
				<a href="<%- rel %>?vote=down" class="grid_vote vote_down"><i class="fa fa-times"></i></a>
            	<span class="percent"><%- percent_display %></span> of 
				<span class="votes"><%- votes %></span> Votes.
			</div>
			<div class="pure-u-1 pure-hidden-desktop pure-hidden-tablet">
            	<span class="percent"><%- percent_display %></span> of 
				<span class="votes"><%- votes %></span> Votes.
			</div>
        </div>
    </div>
</div>