<div class="resource <%- color %>bar_<%- percent %> resource_<%- name %> <%- type %>">
    <h3 class="name"><%- name %><h3>
    <div class="stats">
        <span class="percent"><%- percent_display %></span> Usage.<% if(color == "yellow"){%><br/><%} %> <span class="votes"><%- votes %></span> Votes.
    </stats>
</div>