<div class="resource resource_<%- name %> <%- type %>" data-link="<%- rel %>" id="<%- id + name.toLowerCase() %>" data-color="<%- color %>" data-percent="<%- percent %>">
    <div class="content <%- color %>bar_<%- percent %>">
        <h3 class="name"><a href="<%- rel %>"><%- name %></a></h3>
        <div class="stats">
            <span class="percent"><%- percent_display %></span> Usage.<% if(color == "yellow"){%><br/><%} %> <span class="votes"><%- votes %></span> Votes.
        </stats>
    </div>
</div>